.add-button {
  float: left;
  margin: 10px 10px 10px 0px;
}

#controls {
  background: white;
  margin-left: 20px;
  margin-right: -20px;
}

body {
	background-color: rgb(0, 0, 0);
	background-image: url(http://www.zingerbugimages.com/backgrounds/tie_dye_candy_colors_seamless.jpg);
	background-position: top left;
	background-repeat: repeat;
	background-attachment: fixed;
}